/* start basic */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  letter-spacing: 0.019em;
}
:root {
  --main-color: #57daff;
  --main-colo: #4264cb;
}
@media (max-width: 375px) {
  .talk p {
    font-size: 0.7em;
  }
  .talk h1 {
    font-size: 1.2em;
  }
  .main .container .pic {
    height: 9em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 400px) {
  header .containe .links ul li {
    padding: 0px;
  }
  header .containe .links ul li a {
    font-size: 1em;
  }
  header .containe p {
    font-size: 1.3em;
  }
  .talk h1 {
    font-size: 1.3em;
  }
  .talk p {
    font-size: 0.57em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  ul {
    right: 5px;
  }
  .menu {
    right: 50px;
  }
  .main .container {
    height: 100vh;
  }
}
@media (max-width: 545px) {
  .container {
    max-width: 540px;
  }
  header .containe .links ul li {
    padding: 0px;
    padding-right: 10px;
  }
  .main .container .pic {
    height: 12em;
  }
  .talk p {
    font-size: 0.65em;
  }
  .talk h1 {
    font-size: 1.1em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  ul {
    right: 5px !important;
  }
  .menu {
    right: 50px !important;
  }
  .main .container {
    height: 100vh !important;
  }
}
/* small */
@media (min-width: 768px) {
  .containe {
    width: 750px;
  }

  .main .container .pic {
    height: 24em;
  }
  .talk p {
    font-size: 1.5em;
  }
  .talk h1 {
    font-size: 2em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  ul {
    right: 5px;
  }
  .menu {
    right: 50px;
  }
  .main .container {
    height: 150vh;
  }
}
@media only screen and (orientation: landscape) {
  .main .container .pic {
    height: 24em;
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .containe {
    width: 970px;
  }
  .main .container {
    height: 150vh;
  }
  .main .container .pic {
    height: 25em;
  }
  .talk p {
    font-size: 1.3em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  ul {
    right: 100px;
  }
  .menu {
    right: 115px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .main .container {
    height: 150vh;
  }
  .main .container .pic {
    height: 25em;
  }
  .talk p {
    font-size: 1.3em;
  }
  .cards {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  ul {
    right: 100px;
  }
  .menu {
    right: 115px;
  }
}
/* end basic */

/* start Header */
header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  position: fixed;
  z-index: 1000;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to bottom right,
    #dadada80,
    #abb6cb,
    #9ebaf3,
    #ededed73,
    #54545459
  );
  /* background-color:#d7d0d1b3; */
}
header .containe {
  display: flex;
  margin: 5px 25px;
  /* justify-content: space-between; */
  align-items: center;
}
.links {
  position: relative;
}
ul {
  border-radius: 10px;
  margin-top: 5px;
  position: absolute;
  display: flex;
  width: 13.75em;
  height: 10.4em;
  right: 100px;
  opacity: 0;
  transition: 1s;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #aeb8cd;
  align-content: flex-start;
}
.menu {
  color: #add8e1;
  position: absolute;
  right: 115px;
  bottom: 10px;
  font-size: 1.4em;
  transition: 0.5s;
}
.menu:hover {
  color: var(--main-colo);
}
.links:hover ul {
  opacity: 0.9;
}
ul li {
  width: 100%;
  border-bottom: 1px solid #00224438;
  list-style-type: none;
  padding: 10px;
  padding-right: 15px;
}
ul li:last-child {
  border: none;
}
li a {
  letter-spacing: 0.05em;
  font-size: 1.1em;
  text-decoration: none;
  color: #133cb7;
  transition: 0.5s;
}
li a:hover {
  font-size: 1.2em;
  color: #662d91;
  padding-left: 15px;
}
.containe p {
  margin-left: 5px;
  letter-spacing: 0.05em;
  color: transparent;
  -webkit-text-stroke: .5px #e7e7fb96;
  font-size: 1.8em;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
header .containe p::after{
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 0;
  -webkit-text-fill-color: #e3e1ef;
  overflow: hidden;
  animation:movaition 5s linear infinite ;
  -webkit-animation:movaition 5s linear infinite ;
}
header .containe p::before{
  content: "BIL";
  position: absolute;
  left: 45px;
  width: 0;
  -webkit-text-fill-color: #fbdfdf;
  overflow: hidden;
  animation:movait 5s linear infinite ;
  -webkit-animation:movait 5s linear infinite ;
}
@keyframes movait {
  0%,100%{
    width: 0;
  }
  50%{
    width: 30%;
  }
  88%{
    width: 53%;
  }
  
} 
@keyframes movaition {
  0%,100%{
    width: 0;
  }
  50%{
    width: 29%;
  }
  88%{
    width: 48%;
  }
  
} 
.ma {
  border-radius: 50%;
  height: 40px;
  margin-right: 20px;
  filter: drop-shadow(10px 10px 15px #171430);
  background-image: linear-gradient( to right,rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4));
}

/* end Header */

/* start section */
.main .container {
  width: 100%;
  height: 150vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c459.76C101.253%2c461.699%2c214.582%2c521.081%2c297.642%2c463.141C380.995%2c404.997%2c352.957%2c272.85%2c398.318%2c181.906C446.07%2c86.169%2c581.499%2c24.429%2c569.489%2c-81.88C557.558%2c-187.487%2c417.748%2c-221.543%2c344.084%2c-298.151C275.461%2c-369.517%2c238.439%2c-468.811%2c151.638%2c-516.432C53.693%2c-570.166%2c-66.849%2c-622.28%2c-170.426%2c-580.419C-274.175%2c-538.488%2c-303.41%2c-407.952%2c-358.198%2c-310.38C-402.245%2c-231.937%2c-451.6%2c-155.668%2c-459.262%2c-66.032C-466.672%2c20.663%2c-427.328%2c100.112%2c-400.357%2c182.837C-369.705%2c276.85%2c-371.731%2c395.628%2c-290.406%2c451.88C-209.118%2c508.106%2c-98.821%2c457.868%2c0%2c459.76' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 897.446C1502.649 899.0640000000001 1550.48 846.8050000000001 1607.229 820.213 1674.561 788.662 1778.917 796.297 1804.699 726.552 1831.115 655.091 1745.48 591.137 1718.204 520 1698.1979999999999 467.823 1694.606 412.224 1665.812 364.33299999999997 1632.444 308.83500000000004 1599.929 244.656 1539.176 222.23899999999998 1477.681 199.548 1409.268 223.483 1348.128 247.11399999999998 1290.624 269.34 1248.5819999999999 313.69399999999996 1201.031 352.932 1143.167 400.679 1054.721 429.002 1038.847 502.323 1023.069 575.203 1079.432 644.851 1125.063 703.827 1164.069 754.241 1223.929 778.335 1278.23 811.719 1331.2930000000001 844.342 1377.732 895.838 1440 897.446' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
img {
  opacity: 0.7;

  filter: drop-shadow(8px 8px 15px #89b0ae);

  height: 24em;
}
.talk {
  line-height: 1.4;
  color: var(--main-color);
}
.talk p {
  font-size: 1.2em;
  font-weight: 600;
}
.talk h1 {
  font-weight: 800;
  margin: 0px;
}
.container .icons a {
  color: var(--main-color);
  padding: 5px;
  font-size: 1.5em;
}
/* end section */
/*  start title */
.title .turn {
  width: 100px;
  height: 100px;
  border: 2px solid #20b2aa;
  border-left-color: transparent;
  border-radius: 50%;
}
.title {
  text-align: center;
  border: 2px solid #20b2aa;
  border-left-color: transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: center;
  margin: 55px auto;
  background-color: #d0f0c0;
  animation-iteration-count: infinite;
  animation-name: change-color-spin;
  animation-duration: 30s;
}
@keyframes change-color-spin {
  0% {
    background-color: #d0f0c0;
  }
  15% {
    background-color: #e6e6fa;
  }
  30% {
    background-color: #d8bfd8;
  }
  45% {
    background-color: #fbceb1;
  }
  65% {
    background-color: #791e29;
  }
  75% {
    background-color: #e9967a;
  }
  90% {
    background-color: #b9d9eb;
  }
  100% {
    background-color: #d0f0c0;
  }
}
.title p {
  transition: 0.5s;
  font-size: 1.3em;
  font-weight: 800;
  color: #004953;
  margin: 60px auto;
}

/*  end title */
/* start cards */
.cards {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  background-image: linear-gradient(to right, #e9ecef, #f4f3ee, #f5f3f4);
  margin-top: 80px;
  margin-bottom: 150px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  gap: 25px 25px;
}
.cards .card {
  border-radius: 30px 0 30px 0;
  color: var(--main-colo);
  text-align: center;
  padding: 20px;
  line-height: 1.4;
}
.card i {
  color: var(--main-colo);
}
.card a {
  font-size: 1.5em;
}
.card h3 {
  font-weight: 800;
}
.card p {
  color: #777;
}
.cards .card {
  border: 0.5px solid #3544491f;
  background-image: linear-gradient(to right, #f0f8ff, #e6e6fa);
}
/* end cards */
/* start services */
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px 20px;
  line-height: 1.3em;
  margin-top: 5px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  perspective: 600px;
}
.services .container .card {
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  background-image: linear-gradient(180deg, #3f51b52b 0%, #f47b7b3b 74%);
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.04),
    0px 0px 37.4px rgba(0, 0, 0, 0.035), 0px 0px 59.6px rgba(0, 0, 0, 0.036),
    0px 0px 92.5px rgba(0, 0, 0, 0.039), 0px 0px 138.7px rgba(0, 0, 0, 0.04),
    0px 0px 163px rgba(0, 0, 0, 0.036);
  transition: 0.9s ease;
}
.services .container .card:hover {
  transform: translateZ(30px);
}
.services .container .card h3 {
  font-weight: 700;
  padding: 15px;
  color: var(--main-colo);
}
.services h2 {
  font-size: 2em;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  color: var(--main-colo);
}
.services .container .card a {
  display: block;
  padding: 10px;
  font-size: 8em;
}
/* end services */
/* start projects */
/* end projects */

/* start contact */
.contact .container {
  width: 100%;
  display: flex;
  line-height: 1.3em;
  margin-top: 5px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.contact .container .card {
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(1, 1, 1, 25%);
  width: 21.25em;
  margin: 15px;
  padding: 25px;
  border-radius: 10px;
  color: #584646;
}
.contact .container .card p:nth-child(1) {
  padding: 15px;
  font-weight: bold;
  font-size: 1.3em;
}
.contact h2 {
  font-size: 1.6em;
  text-shadow: -6px 5px 19px #7183a7;
  font-weight: 800;
  text-align: center;
  color: var(--main-colo);
}
/* end contact */

/* start footer */
footer .container {
  width: 100%;
  background-color: #0d2c30;
  padding: 15px;
  text-align: center;
  color: white;
}
footer .container span {
  font-weight: 800;
}
/* end footer */
